.calendar {
  max-width: 600px;
  margin: auto;
}
.row {
  justify-content: center;
}
.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 14.2%;
  height: 4em;
  color: #333;
  text-align: center;
  padding: 8px;
  cursor: pointer;
}

.cell:active {
  background: #efefef;
}

.grayed {
  color: #ccc;
}

.today {
  display: block;
  margin: auto;
  color: white;
  background: #dc3545;
  border-radius: 100%;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
}

.month {
  justify-content: space-between;
  /* background: #fe623e; */
}

.day-heading {
  align-items: center;
  background: #1a363f;
  min-height: 4em;
  margin-top: 1em;
}

.heading {
  flex-basis: 14%;
  padding: 8px;
  text-align: center;
  color: #ffffff;
}

.input {
  display: block;
  padding: 11px;
  font-size: 18px;
  width: 100%;
  margin: 20px auto 50px;
  border: solid 1px lightgray;
}

.actions {
  border: none;
  background: none;
}
